#highlights{
  background-color: skyblue;
  background-size: cover;
  height: 300px;
}
#highlights h1 {
  text-align: center;
  font-size: 30px;
}
#highlights h2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 40px;
}
.image1{
  float: left;
}
.interests {
clear: both;
}
